* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}
.SideBar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
  &__user-name{
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    .top-items{
      width: 260px;
      height: 20;
      justify-content: space-between;
      display: flex;
      &__name{
        font-size: 16px;
        font-weight: bold;
        color: white;
      }
      &__icon{
        display: flex;
        justify-content: end;
        
        &__a{
          color: white; 
          margin-left: 5px;
        }
        &__b{
          color: white; 
          margin-left: 5px;
        }
      }
    } 
  }
  &__grouplist{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    width: 300px;
    padding: 0 20px;
    .group{
      padding: 20px 0 40px;
      a {
        display: block;
        color: white;
      }
      
      &__name{
       font-size: 15px; 
      }
      &__message{
      font-size: 11px;
      margin-top: 5px;
      } 
    }
  }
}

.chat{
  width: calc(100vw - 300px);
  .header{
    background-color: #ffffff;
    height: 100px;
    padding: 0 40px;
    border-bottom: solid 1px #eee;
    display: flex;
    justify-content: space-between;
    &__group{
      display: block;
      .header__groupname{
        color: #333;
        font-size: 20px;
        margin-top: 35px;
      }
      .header__memberlist{
        color: #999;
        display: flex;
        font-size: 12px;
        margin-top: 15px;
    
        .header__membername{
          padding-right: 5px;
          font-size: 13px;
          margin-left: 5px;

        }
      }
    }
    .header__edit{
    display: block;
    border: 1px solid #38AEF0;
    color: #38AEF0;
    height: 40px;
    line-height: 40px;
    margin-top: 28px;
    padding: 0 20px;
    text-decoration: none;
      .heder__editlink{
        color: #38AEF0;
        text-decoration: none;
      }
    }
    }
    .messagefiled{
      background-color: #fafafa;
      height: calc(100vh - 190px);
      padding: 35px 40px 0;
      box-sizing: border-box;
      overflow: scroll;
      .messagebox{
        margin-bottom: 46px;
        .messageinfo{
          display: flex;
          &__username{
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &__date{
            color: #999;
            font-size: 12px;
            padding-left: 10px;
          }
        }
        .message{
          margin-top: 12px;
          &__content{
            color: #434a54;
            font-size: 14px;
          }
        }
      }
    }
    .footer{
      background-color: #dddddd;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
        .form{
          display: flex;
          justify-content: space-between;

          .form1{
            width: 100%;
            background-color: #fff;
            position: relative;
            .form1content{
              border: none;
              height: 50px;
              width: 100%;
              padding: 0 45px 0 15px;

            }
            .form1icon{
              top: 15px;
              position: absolute;
              right: 10px;
              
            }  
            .top-items__icon__a{
              display: none;
            }
            
            .form2icon{
              color: black;
              font-size: 25px;
            } 
          }
          .form2{
            background-color: #38AEF0;
            border: none;
            color: #fff;
            font-size: 16px;
            height: 50px;
            margin-left: 15px;
            padding: 0 30px;
          }
       }  
    } 
  }


  







